__pycache__/
**/__pycache__/
lightning_logs/
.ipynb_checkpoints/
*.mp4
*.egg-info
jobs
core
.pyc
.idea/
experiment1/
experiment6/
experiment6lightning_logs/
images/
scripts/
transformer_experiment_1/
videos/
*.pth
*.csv
tats/coinrun/
tats/fvd
