__pycache__/
**/__pycache__/
lightning_logs/
.ipynb_checkpoints/
*.mp4
*.egg-info
jobs
core
.pyc
.idea/
experiment*/
images/
scripts/
transformer_experiment_1/
videos/
*.pth
*.csv
4dvqgan/coinrun/
4dvqgan/fvd


